<h3 class="mt-3 mb-1 text-secondary">Controller Alignment</h3>
<div class="d-flex justify-content-start gap-2">
  <button class="btn btn-settings" id="btnLeft" onclick="updateMovementControllerPosition('left')">
    <i class="fas fa-align-left"></i>
  </button>
  <button class="btn btn-success" id="btnCenter" onclick="updateMovementControllerPosition('center')">
    <i class="fas fa-align-center"></i>
  </button>
  <button class="btn btn-settings" id="btnRight" onclick="updateMovementControllerPosition('right')">
    <i class="fas fa-align-right"></i>
  </button>
</div>